.background{
    background-color:rgb(255, 238, 209);
    height:1000px;
    z-index:1;
    padding-top:30px;
}
.heading_back{
    background-color:rgb(255, 249, 236);
    z-index:6;
    display:flex;
    margin-left:40px;
    border-radius:20px;
     height:110px;
     width:1400px;
     margin-top:30px;
     box-shadow:seashell;

}
.heading_h1{
    color:rgb(106, 76, 0);
    font-weight:lighter;
    font-size:35px;margin-bottom:0px;margin-left:10px;
}
.heading_p{
    color:sienna;
    margin-top:0px;
    margin-left:10px;
}
.heading_img{
    height:60px;
    width:60px;
    border-radius:35%;
    padding-top:20px;
    padding-left:20px;
}
.form_back{
    background-color:white;
    width:1300px;
    margin-left:130px;
    margin-top:50px;
    border-radius:30px;
}
.form_heading{
    text-align:center;
}
.from_heading1{
    padding-top:30px;
    font-weight:lighter;
    font-size:50px;
    margin-bottom:0px;
    color:rgb(115, 82, 0)
}
.form_p1{
    color:brown;
}
.heading_line{
    width:460px;
    margin-top:10px;
}
.line1_form{
    display:flex;margin-top:20px;
}
.label1{
    margin-left:40px;
    color:rgb(118, 67, 0);
}
.input1{
    margin-left:42px;
    margin-top:5px;
    height:40px;
    width:550px;
    border:1px solid gold;
    background-color:rgb(255, 255, 246);
    border-radius:10px;
}
.form_amenity{
    margin-left:40px;
    color:rgb(118, 67, 0);
}