.form_bg{
   background: linear-gradient(to right, #826011, #5A3B00);
    margin-top:400px;
    width:100%;
    height:1500px;
}
.form_logo{
    text-align:center;
    display:flex;
}
.form_img{
    height:70px;
    width:70px;
    margin-top:70px;
    border-radius:17px;
    margin-left:45%;
}
.form_name{
    margin-top:85px;
    margin-left:12px;
    font-weight:lighter;
    color:white;
    font-style:italic;
    font-size:38px;
}
.form_strt{
    background-color:white;
    height:600px;
    width:800px;
    margin-left:30%;
    margin-top:60px;
    border-radius:30px;

}
.form_h{
    text-align:center;
    font-weight:lighter;
    padding-top:29px;
    color:brown;
    font-size:40px;
}
.form_hspan{
    color:rgb(204, 183, 64);
}
.form_p{
    color:gray;
    text-align:center;
}
.form_line{
}