.theme {
    display: flex;
}

.header_name {
    color: goldenrod;
    margin-left: 9px;
    margin-bottom: 6px;
    margin-top: 15px;
    font-weight: lighter;
    margin-left: 16px;

}

.header_theme {
    margin-left: 9px;
    margin-top: 0px;
    margin-left: 16px;
    font-weight: lighter;
    color: grey;
}

.header_home {
    margin-left: 300px;
    margin-top: 32px;
    font-weight: lighter;
    transition: background-color 0.5s ease-out, transform 0.5s ease-out;
}

.header_home:hover {
    color: #D6B25E;
    text-decoration: underline;
    transform: scale(1.1);

}

.header_Buy {
    margin-left: 60px;
    margin-top: 32px;
    font-weight: lighter;
    transition: background-color 0.5s ease-out, transform 0.5s ease-out;
}

.header_Buy:hover {
    color: #D6B25E;
    text-decoration: underline;
    transform: scale(1.1);

}

.header_Rent {
    margin-left: 60px;
    margin-top: 32px;
    font-weight: lighter;
    transition: background-color 0.5s ease-out, transform 0.5s ease-out;
}

.header_Rent:hover {
    color: #D6B25E;
    text-decoration: underline;
    transform: scale(1.1);

}

.header_Contact {
    margin-left: 60px;
    margin-top: 32px;
    font-weight: lighter;
    transition: background-color 0.5s ease-out, transform 0.5s ease-out;
}

.header_Contact:hover {
    color: #D6B25E;
    text-decoration: underline;
    transform: scale(1.1);

}

.header_Button {
    margin-left: 220px;
    margin-top: 20px;
    margin-bottom: 0px;
    background: linear-gradient(to right, #D6B25E, #5A3B00);
    color: white;
    padding: 10px 20px;
    border-radius: 12px;
    transition: all;
    transition: background-color 0.5s ease-out, transform 0.5s ease-out;
    width: max-content;
    height: fit-content;
}

.header_Button:hover {
    background-color: orange;
    font-size: 14px;
    transform: scale(1.1);
}

.header_back {
    background-image: url("https://images.unsplash.com/photo-1758461553578-df55d8b89207?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3Nzg4Nzd8MHwxfHNlYXJjaHwxfHxncmFuZCUyMG1hbnNpb24lMjBuaWdodCUyMGV4dGVyaW9yfGVufDF8fHx8MTc2MjA4OTEwNXww&ixlib=rb-4.1.0&q=80&w=1080&utm_source=figma&utm_medium=referral");
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    background-position: center;
    width:100%;


}

.img_head {
    color: gold;
    margin-top: 70px;
    font-weight: lighter;
    border: 1px solid grey;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    padding: 0px;
    border-radius: 12px;
    padding: 10px;
    font-weight: lighter;
}

.img_head1 {
    color: white;
    font-size: 80px;
    font-weight: lighter;
    margin-bottom: 30px
}

.img_p1 {
    color: white;
    font-size: 25px;
    font-weight: lighter;
}

.img_p2 {
    color: gold;
}

.img_sec {
    background-color: white;
    width: 840px;
    height: 200px;
    margin-left: 350px;
    margin-top: 80px;
    border-radius: 30px;
}

.img_sec1 {
    display: flex;
}

.img_sec11 {
    width: 150px;
    height: 35px;
    margin-top: 30px;
    margin-left: 30px;
    border: 1px solid gold;
    border-radius: 9px
}

.img_sec2 {

    margin-top: 30px;
    margin-left: 30px;
    width: 600px;
    display: flex;
    border-radius: 30px
}

.img_sec21 {
    margin-left: 40px;
    width: 300px;
    height: 40px;
    margin-left: 20px;
    border: 2px solid gold;
}

.img_loc {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
}

.img_search {
    margin-left: 30px;
    padding: 17px 50px;
    background: linear-gradient(to right, #D6B25E, #5A3B00);
    border-radius: 10px;
    color: white;
    font-weight: bolder;
    display: flex;
    padding-left: 33px
}

.img_sec3 {
    display: flex;
}

.img_sec31 {
    margin-top: 30px;
    margin-left: 180px;
    padding: 15px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: light;
    border: 2px solid gold;
}

.img_sec31:hover {
    border: 2px solid rgb(190, 177, 100);
}

.img_sec32 {
    margin-left: 13px;
    margin-top: 30px;
    margin-left: 40px;
    padding: 15px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: light;
    border: 2px solid gold;
}

.img_sec32:hover {
    border: 2px solid rgb(190, 177, 100);
}

.img_sec33 {
    margin-left: 13px;
    margin-top: 30px;
    margin-left: 40px;
    padding: 15px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: light;
    border: 2px solid gold;
}

.img_sec33:hover {
    border: 2px solid rgb(190, 177, 100);
}

.body_start {
    text-align: center;
}

.body_image {
    height: 100px;
    width: 100px;
    margin-top: 80px;
    border-radius: 15px;
}

.body_head {
    margin-top: 20px;
    font-size: 50px;
    font-weight: lighter;
    color: #c6a45d;
    text-shadow: 0 0 2px gold, 0 0 2px #ffdf80;
}

.body_para {
    color: #c6a45d;
}

.body_para1 {
    color: #c6a45d;
}

.body1_logo {
    height: 120px;
    margin-top: 14px;
}

.body1 {
    display: flex;
    margin-top: 30px;

}

.body2 {
    display: flex;
    margin-top: 30px;
}

.body2_logo {
    height: 120px;
    margin-top: 5px;
}

.body1_block {
    margin-left: 400px;
    background-color: #FAF9F6;
    margin-top: 30px;
    display: flex;
    border-radius: 19px;
    width: 500px;
    margin-bottom: 5px;

}

.body1_blockimg {
    height: 50px;
    width: 60px;
    margin-left: 18px;
    margin-top: 22px;

}

.body1_blocktxt {
    margin-left: 13px;
    font-weight: lighter;
    margin-bottom: 0px;
    margin-top: 29px;
    color: brown;
}

.body1_blocktxt1 {
    margin-left: 13px;
    margin-top: 3px;
    font-weight: lighter;
    color: grey;
}

.body1_blocktxt2 {
    margin-left: 0px;
    margin-top: 9px;
    font-weight: lighter;
    color: rgb(128, 128, 128);
}

.body_sec {
    background: linear-gradient(180deg, #361e00 0%, #6c3f00 100%);
    height: 400px;
    width: 1500px;
    margin-top: 80px;
    text-align: center;
}

.body_sec1{
    margin-top:30px;
}
.body_sec11{
    border: 1px solid rgb(173, 147, 0);
    padding:9px 30px;
    margin-top:60px;
    border-radius:50px;
    color:#ffd573;
    display:inline-block;
   
}
.body_sec12{
    color:white;
    font-size:40px;
    margin-top:24px;
    font-weight:lighter;
     margin-bottom:4px;
}
.body_secimg{
    height:5px;
    width:90px;
    margin-top:0px;
}
.body_sec2{
    display:flex;
    justify-content:space-around
}
.body_sec21{
    font-size:60px;
    font-weight:lighter;
    margin-left:50px;
    font-family:'Times New Roman', Times, serif;
    background: linear-gradient(180deg, #d4af37, #b8860b);
     -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style:italic;
  margin-bottom:0px;
  cursor: pointer;
}
.body_sec21:hover{
    font-size:60px;
    transform: scale(1.1);
}
.body_sec2img{
    height:5px;
    width:80px;
    margin-top:0px;
}
.body_sec22{
    font-weight:lighter;
    color:white;
}
.info{
    text-align:center;
}
.info1{
    margin-top:80px;
    font-size:20px;
    font-weight:lighter;
    border:1px solid rgb(205, 176, 13);
    display:inline-block;
    padding:12px;
    border-radius:50px;
    background-color:rgba(236, 234, 234);
    color:#b67112
}
.info2{
    font-size:49px;
    font-weight:lighter;
    margin-top:10px;
    margin-bottom:0px
}
.info_image{
    margin-top:6px;
    height:30px;
    width:250px;
}
.info3{
    font-size:22px;
    font-weight:lighter;
    color:grey;
}
.info4{
    color:#D6B25E;
    font-size:20px;
    font-weight:light;
}
.property{
    display:flex;
    margin-top:40px;
}
.property1{
    display:flex;  
}
.property11{
    background-color:#FAF9F6;
     margin-left:100px;
     border-radius:20px;
}
.property1_img{
    width:350px;
    height:250px;
    border-radius:20px 20px 0px 0px;

}
.property1_p{
    margin-top:30px;
    margin-left:20px;
    color:#c6a45d;
    font-size:20px;
    font-weight:light;
    font-style:italic;
    margin-bottom:0px;
}
.property1_loc{
    display:flex;
}
.property1_imgloc{
margin-left:15px;
width:27px;
height:27px;
border-radius:2px;
margin-top:14px;
}
.property1_p1{
    margin-left:12px;
    color:gray;
    font-weight:lighter;
    font-size:17px;
}
.property2{
    display:flex;
}
.property2_img1{
    height:40px;
    width:40px;
    margin-left:25px;
    border-radius:20px;
}
.property_p2{
    margin-left:9px;
    margin-top:10px;
}
.line{
    width:250px;
    color:gray;
    font-weight:lighter;
}
.prize_range{
    margin-left:30px;
    margin-top:30px;
    color:gray;
    margin-bottom:7px;
}
.prize{
    color:#D6B25E;
    font-size:25px;
    margin-left:30px;
    font-style:oblique;
    margin-top:2px;
}
.commits{
    text-align:center;
}
.commits_p1{
    margin-top:90px;
    font-size:16px;
    font-weight:lighter;
    border:1px solid rgb(234, 218, 127);
    display:inline-block;
    padding:10px 20px;
    background-color:rgb(245, 245, 245);
    border-radius:40px;
    color:#b47b2a;
}
.commits_h1{
    font-weight:lighter;
    font-size:50px;
    margin-top:12px;
    color:#b67112;
    margin-bottom:1px;
}
.commits_h1span{
    color:rgb(214, 158, 17);
}
.commits_underline{
    height:40px;
    width:200px;
    margin-top:3px;
}
.commits_p2{
    color:gray;
    font-size:21px;
    font-weight:light;
}
.commits_box{
    display:flex;
    margin-left:30px;
    gap:80px;
    margin-top:40px;
}
.commits_box1{
    background-color:#fffdfd;
    width:250px;
    text-align:center;
    margin-left:30px;
    border-radius:20px;
}
.commits_box1img{
    height:80px;
    width:80px;
}
.commits_box1p{
    font-style:italic;
}
.commits_box1p1{
    color:rgb(140, 139, 139);
    font-weight:light;
}
.commits_box1img:hover{
    text-shadow:#ffdf80
}
.commits_line{
    width:1400px;
    margin-top:100px;
    margin-left:100px;
    height:40px;
}
.client_reviews{
    text-align:center;
    margin-top:70px;
}
.client_review1{
    border:1px solid rgb(203, 172, 1);
    display:inline-block;
    padding:10px 20px;
    border-radius:40px;
    background-color:rgb(245, 245, 245);
    color:#b67112;
}
.client_review2{
    font-weight:lighter;
    font-size:50px;
    color:#6a3b00;
    margin-top:0px;
    margin-bottom:0px;
}
.client_reviewimg{
    margin-top:8px;
    height:30px;
    width:200px;
}
.client_review3{
    color:gray;
    font-weight:lighter;
    font-size:larger;
}
.customers{
    display:flex;
}
.customer1{
    background-color:rgb(245,245,245);
    width:300px;;
    border:0.5px solid gold;
    border-radius:28px;
    height:350px;
    margin-left:80px;
    margin-top:50px;
}
.stars{
    padding-left:30px;
    font-size:20px;
}

.pause{
    opacity:0.1;
    padding-left:40px;
}
.custo_review{
     padding-left:20px;
     padding-top:19px;
     color:rgb(20, 20, 20);

}
.custo_line{
    width:250px;
    opacity:0.3;
    color:#D6B25E;
}
.custo_face{
    display:flex;
}
.custo_logo{
    height:50px;
    width:50px;
    padding-left:30px;
    padding-top:30px;
    border-radius:2px solid gold;
}
.custo_name{
    margin-left:5px;
    margin-bottom:0px;
    font-size:15px;
    margin-top:30px;
}
.custo_place{
    margin-left:5px;
    margin-bottom:0px;
    font-size:15px;
}
.opportunity{
    text-align:center;
}
.opportunity_p{
    display:inline-block;
    margin-top:90px;
    border:1px solid rgb(203, 172, 1);
    background-color:rgb(245,245,245);
    padding:8px 20px;
    border-radius:50px;
    color:#9c5f0a;
    margin-bottom:0px;
}
.opportunity_h{
    font-weight:lighter;
    font-size:40px;
    color:#6a3b00
}
.opportunity_p1{
    color:gray;
    font-weight:lighter;
    font-size:19px;
}
.opportunity_p2{
    color:#D6B25E;
    font-weight:lighter;
    font-size:19px;
}
.form_btn{
    display:flex;
    justify-content:center
}
.btn_1{
    display:block;
    padding:9px 20px;
    border-radius:10px;
    font-size:19px;
    background: linear-gradient(to right, #D6B25E, #5A3B00);
    color:white;
}
#btn_2{
    display:block;
    padding:10px 22px;
    border-radius:10px;
    font-size:21px;
    border:2px solid gold;
    margin-left:12px;
}
.exp_list{
    display:flex;
    margin-left:510px;
    gap:30px;
    color:gray;
}
.exp_list li{
    gap:30px;
    margin-top:30px;
}
.main_footer{
background: linear-gradient(180deg, #4d2a00 0%, #6c3f00 100%);
    width:100%;
    height:400px;
    margin-top:50px;
}
.footer{
    display:flex;
}
.footer_logo{
    height:70px;
    padding-top:60px;
    padding-left:40px;
    border-radius:20px;
}
.footer_r1{
    color:white;
    font-weight:lighter;
    margin-top:66px;
    margin-bottom:0px;
    margin-left:12px;
}
.footer_r11{
    color:white;
    margin-left:12px;
    margin-top:4px;
}
.footer_r12{
    margin-top:70px;
    margin-left:0px;
    color:white;
}
.footer_r13{
    color:#D6B25E
}
.footer_c2{
    margin-left:100px;
    margin-top:60px;
    color:white;
}
.footer_c3{
    margin-left:300px;
    margin-top:60px;
    color:white;
}
.last_line{
    margin-left:30px;
    color:gray;
    font-size:18px;
    margin-bottom:2px;
}
.last_line1{
    margin-left:30px;
    color:gray;
    margin-top:0px;
}